<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/templates/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${page.list}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.account}"></td>
            <td><a th:href="@{/toEdit/{id}(id=${user.id})}">edit</a></td>
            <td><a class="delete" th:href="@{/users/{id}(id=${user.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">add</a>
    </div>
    <form id="deleteForm" action="" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
    </form>
</div>

</body>
<script type="text/javascript" th:href="@{/templates/scripts/jquery-1.9.1.min.js}" ></script>

<script type="text/javascript">


        $(".delete").click(function(){
            var href = $(this).attr("href");
            $("#deleteForm").attr("action", href).submit();
            return false;
        });

</script>
</html>