<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="css">
		<!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>西西里上海商会投资有限公司</title>
		<link rel="stylesheet" th:href="@{css/style.css}"/>
		<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{css/font/iconfont.css}"/>
		<link rel="stylesheet" th:href="@{css/slidorion.css}"/>
		<link rel="stylesheet" th:href="@{css/animate.min.css}"/>
	</head>
</html>